.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* Shared Style */
.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}


.secondary-bg {
    background-color: #FFF8F3;
}


.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    /* border-color: white; */
    border: none;
    color: white;
    border-radius: 5px;
}


.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}










/* HEader */
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    /* background-position: left; */
    background-position: top left, bottom right;
}




/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    color: ;
    font-size: 20px;
}




/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 200px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: 800;
    font-size: 85px;
}

.description {
    font-weight: normal;
    font-size: 18px;
}

.banner-profile-pic {
    width: 584px;
    height: 676px;
}


.banner-content {
    height: 585px;
    max-width: 600px;
}


/* main styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}



/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}


.about-items {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.item-title {
    color: #757575;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0px;
}

.item-description {
    font-weight: 600;
    color: #474747;
    font-size: 20px;
    margin-top: 0px;
}